# **Importação**

In [ ]:
pip install plotly==4.1.0

Collecting plotly==4.1.0
  Downloading https://files.pythonhosted.org/packages/63/2b/4ca10995bfbdefd65c4238f9a2d3fde33705d18dd50914dd13302ec1daf1/plotly-4.1.0-py2.py3-none-any.whl (7.1MB)
     |████████████████████████████████| 7.1MB 4.0MB/s
Requirement already satisfied: retrying>=1.3.3 in /usr/local/lib/python3.7/dist-packages (from plotly==4.1.0) (1.3.3)
Requirement already satisfied: six in /usr/local/lib/python3.7/dist-packages (from plotly==4.1.0) (1.15.0)
ERROR: cufflinks 0.17.3 has requirement plotly>=4.1.1, but you'll have plotly 4.1.0 which is incompatible.
Installing collected packages: plotly
  Found existing installation: plotly 4.4.1
    Uninstalling plotly-4.4.1:
      Successfully uninstalled plotly-4.4.1
Successfully installed plotly-4.1.0

In [ ]:
import plotly.graph_objects as go
from mpl_toolkits.mplot3d import Axes3D
from sklearn.preprocessing import StandardScaler
from sklearn import preprocessing
from sklearn import svm
import numpy as np # linear algebra
import os # accessing directory structure
import pandas as pd # data processing, CSV file I/O (e.g. pd.read_csv)

In [ ]:
print(os.listdir('/content'))

['.config', 'jvc.csv', 'sample_data']

# **Tratamento de dados**

In [ ]:
nRowsRead = None=10 # specify 'None' if want to read whole file
# jvc.csv has 17841 rows in reality, but we are only loading/previewing the first 1000 rows
df = pd.read_csv('/content/jvc.csv', delimiter=',', nrows = nRowsRead)
df.dataframeName = 'jvc.csv'
nRow, nCol = df.shape
print(f'There are {nRow} rows and {nCol} columns')
df.head()

There are 17841 rows and 12 columns

   Unnamed: 0  ...                                        description
0           1  ...  Au contraire d’autres titres, None ,''.hack'' ...
1           2  ...   Avec plus de 20 œuvres de fiction sur de mult...
2           3  ...   S'appuyant sur la maxime « Mieux vaut tard qu...
3           4  ...   Voici enfin le second volet de la quadrilogie...
4           5  ...   Comme la maxime «Jamais deux sans trois» ne c...

[5 rows x 12 columns]

In [ ]:
def isnumber(value):
    try:
         float(value)
    except ValueError:
         return False
    return True

In [ ]:
df1=df[['platform', 'website_rating','type','classification']]

In [ ]:
df1.head(248)

    platform website_rating                type classification
0        PS4          14/20                 RPG        +12 ans
1        PS2          15/20                 RPG         +7 ans
2        PS2          15/20                 RPG        +12 ans
3        PS2          14/20                 RPG        +12 ans
4        PS2          13/20                 RPG        +12 ans
..       ...            ...                 ...            ...
243       PC           3/20          Simulation         +3 ans
244    DCAST          15/20      Tir Simulation         +3 ans
245      3DS          11/20          Action RPG        +12 ans
246     WiiU          16/20  Aventure Réflexion         +3 ans
247      PS3          18/20          Simulation        Unknown

[248 rows x 4 columns]

In [ ]:
def listar(a):#lista todos os exemplos de atributos
  

  #print('{}'.format(a))

  resp=[]

  #plataforma

  for item in df[a]:
    
    if ' ' in item and a!='release':  
      item=item.split(' ')#separando por caractere de espaço
  
      for index in item:  
        if index not in resp:
          resp.append(index)
          
      
    else:
      if item not in resp:
       resp.append(item)
        

      
  #print(resp) #lista com todos os elementos
  #(indexar(resp))
  #return indexar(resp) 
  return list(resp)

In [ ]:
def indexar(lista): #gera um index para cada exemplo de atributo, retornando um objeto do tipo dicionario
  
  key_list=lista
  value_list = range(len(lista))
  
  lista_indexada = {key_list[i]: value_list[i] for i in range(len(key_list))}
  
  return lista_indexada

In [ ]:
def lista_de_indices(lista): #gera uma lista de indices
  
  lista_indices = range(len(lista))

  return list(lista_indices)

In [ ]:
def release_Tratament(a): 


  resp=[]
  

  for item in df[a]:
    
    if ' ' in item and item!='Date de sortie inconnue'and item!='estjeu':
      item=item.lower()  
      item=item.split(' ')#separando por caractere de espaço
      item=data_translate(item)

      resp.append(item)     

    else:
      resp.append(item)
        
  return list(resp)

In [ ]:
def data_translate(a):#pegar o meses e converter para numero, a posição a[1], equivale ao nome do mes
  #print(len(a))
  if len(a)==2:
    cont=0
  else:
    cont=1
  #cont=len(a)-2  #algumas datas possuem 3 elementos, dia/mes/ano, porem outras possuem apenas mes e ano, 
                 #para evitar erros, a converção considera sempre o elemento do meio ou esquerda, dessa forma,
                 #é só pegar sempre o penultimo elemento que sempre será o mes

  if(a[cont]=='janvier'):a[cont]='01'
  if(a[cont]=='février'):a[cont]='02'
  if(a[cont]=='mars'):a[cont]='03'
  if(a[cont]=='avril'):a[cont]='04'
  if(a[cont]=='mai'):a[cont]='05'
  if(a[cont]=='juin'):a[cont]='06'
  if(a[cont]=='juillet'):a[cont]='07' 
  if(a[cont]=='août'):a[cont]='08'
  if(a[cont]=='septembre'):a[cont]='09'
  if(a[cont]=='octobre'):a[cont]='10'
  if(a[cont]=='novembre'):a[cont]='11'
  if(a[cont]=='décembre'):a[cont]='12'
  #if(a=='Date de sortie inconnue'):a='00'# data não existe

  return a[cont+1]+ a[cont]

In [ ]:
def website_rating_tratament():
  resp=[]
  for item in df1['website_rating']:
    item=item.split(sep='/')

    resp.append(float(item[0])/float(item[1]))
    
  return list(resp)

In [ ]:
def publishor_Tratament(a): 
  resp=[]
  for item in df[a]:
    resp.append(item)     
        
  return resp

In [ ]:
def classification_Tratament(a): 

  resp=[]


  for item in df[a]:
    item= item.replace('+','')
    item=item.replace(' ans','')
    item=item.replace('Unknown','00')
    
    resp.append(item)
            
  
  return resp

In [ ]:
def typely():
  typee=['RPG', 'Action', 'Plate-Forme', 'Sport', "Shoot'em Up", 'FPS', 'Jeu de cartes', 'Course', 'Réflexion', 'Party-Game', 'Jeu de société', 'Autres', 'Gestion', 'Création', 'Compilation', 'Aventure', "Point'n Click", 'Stratégie', 'Infiltration', 'Survival-Horror', 'Simulation', "Beat'em All",'Puzzle-Game', 'MMO', 'Tir',"Gestion God Game"]
  return typee

In [ ]:
#platform ------------------------------------------
platform=listar('platform')
#print(platform)
#aplication_rules('platform', platform)


#publishor/developer--------------------------------
#publishor = publishor_Tratament('publishor/developer')
#print(publishor)

#type-----------------------------------------------
#typee = listar('type')
typee= typely()


#classification-------------------------------------
classication = classification_Tratament('classification')
#print(classication)

#release-------------------------------------------- 
#release = release_Tratament('release')
#print(release.index('estjeu'))

#website_rating-------------------------------------
website_rating= website_rating_tratament()
#print(website_rating)

# Atribuições

## Atribuição com os atributos platform e type

In [ ]:
for i in platform: #adicionar linhas e colunas com os valores iguais a zero de platform e type
  df1[i] = np.zeros(len(df1.platform))
for i in typee:
  df1[i] = np.zeros(len(df1.type))  
#df1.head()

In [ ]:
for j in range(len(platform)): #adicionar os valores de platform e type
  for i in range(len(df1.platform)):
    if df1.platform.iloc[i] == platform[j]:
      df1[platform[j]][i] = 1
    else:
      df1[platform[j]][i] = 0

for j in range(len(typee)):
  for i in range(len(df1.type)):
    if df1.type.iloc[i] == typee[j]:
      df1[typee[j]][i] = 1
    else:
      df1[typee[j]][i] = 0

#df1.head()

## Atribuição com o atributo website_rating

In [ ]:
for i in range(len(website_rating)):
  df1['website_rating'][i]=website_rating[i]

#df1.head(100)

## Atribuição com o atributo classification

In [ ]:
for i in range(len(classication)):
  df1['classification'][i]=float(classication[i])

#df1.head(100)

## Removendo colunas platform e type

In [ ]:
df1=df1.drop(columns=['platform','type'])

In [ ]:
df1.head()

In [ ]:
df1.describe(include='all')

# **Analizando dados**

In [ ]:
#print(list(df1.columns))

In [ ]:
#atributos = df1.columns
#for i in atributos:
#  print(i)

## Normalização

In [ ]:
from sklearn import preprocessing
min_max_scaler= preprocessing.MinMaxScaler()
np_df= min_max_scaler.fit_transform(df1)

df1= pd.DataFrame(np_df,columns=['website_rating', 'classification', 'PS4', 'PS2', '360', 'ONE', 'PSP', 'NGC', 'Xbox', 'GBA', 'PC', 'DS', 'Wii', 'PS3', 'WiiU', 'PS1', 'Switch', 'iOS', 'N64', 'DCAST', 'Mac', 'GB', '3DS', 'Web', 'Android', 'Vita', 'SNES', 'Nes', 'MD', 'Unknown', 'Amiga', 'ST', 'MS', 'G.GEAR', 'NGAGE', 'Saturn', 'RPG', 'Action', 'Plate-Forme', 'Sport', "Shoot'em Up", 'FPS', 'Jeu de cartes', 'Course', 'Réflexion', 'Party-Game', 'Jeu de société', 'Autres', 'Gestion', 'Création', 'Compilation', 'Aventure', "Point'n Click", 'Stratégie', 'Infiltration', 'Survival-Horror', 'Simulation', "Beat'em All", 'Puzzle-Game', 'MMO', 'Tir', 'Gestion God Game'])
#df2=df1
df1.describe()

## Matriz correlacional

In [ ]:
print(df1.to_string(index=False))

NameError: ignored

In [ ]:
df1.head(17000)

In [ ]:
df1.describe(include='all')

In [ ]:
matriz_corr= df1.corr()
matriz_corr

In [ ]:
pip install biokit

## Plottar

In [ ]:
from biokit.viz import corrplot
import matplotlib.pyplot as plt

corr_graf= corrplot.Corrplot(matriz_corr)
corr_graf.plot(upper='ellipse', fontsize='x-large')
fig=plt.gcf()
fig.set_size_inches(62,62)
fig.show

# **Dataset pronto para aplicação**

In [ ]:
df1.head(326)

# **Aplicar k-means**

In [ ]:
from sklearn.cluster import KMeans
from sklearn.sklearn.metrics
agrupador= KMeans(n_clusters=4)
agrupador.fit(df1)

SyntaxError: ignored

In [ ]:
labels=agrupador.labels_
print(labels)
agrupador.silhouette_score()

In [ ]:
fig = go.Figure()
fig.add_trace(go.Scatter(x = df1['website_rating'], y = df1['classification'], mode='markers', marker = dict(color = agrupador.labels_.astype(np.float)),text=labels))
fig.show()

# **Aplicar SVM**

In [ ]:
game_en =list(df[['game_en']])
print(game_en)

In [ ]:
import seaborn as sns

df2=pd.DataFrame(data=df1,columns=['website_rating', 'classification', 'PS4', 'PS2', '360', 'ONE', 'PSP', 'NGC', 'Xbox', 'GBA', 'PC', 'DS', 'Wii', 'PS3', 'WiiU', 'PS1', 'Switch', 'iOS', 'N64',
     'DCAST', 'Mac', 'GB', '3DS', 'RPG', 'Action', 'Plate-Forme', 'Sport', "Shoot'em Up", 'FPS', 'Jeu de cartes', 'Course', 'Réflexion', 'Party-Game', 'Jeu de société',
     'Autres', 'Gestion', 'Création', 'Compilation', 'Aventure', "Point'n Click", 'Stratégie', 'Infiltration', 'Survival-Horror', 'Simulation', "Beat'em All", 'Puzzle-Game', 
     'MMO', 'Tir', 'Gestion God Game'])

In [ ]:
for i in df2: #adicionar linhas e colunas com os valores iguais a zero de platform e type
  df2['label'] = np.zeros(len(df2))
  df2['game_en']=np.zeros(len(df2))
df2['label']=labels
df2['game_en']=pd.Categorical.from_codes(labels, ['g1','g2','g3','g4'])

In [ ]:
sns.pairplot(df2[['website_rating', 'classification', 'PS4', 'PS2', '360', 'ONE', 'PSP', 'NGC', 'Xbox', 'GBA', 'PC', 'DS', 'Wii', 'PS3', 'WiiU', 'PS1', 'Switch', 'iOS', 'N64',
     'DCAST', 'Mac', 'GB', '3DS', 'RPG', 'Action', 'Plate-Forme', 'Sport', "Shoot'em Up", 'FPS', 'Jeu de cartes', 'Course', 'Réflexion', 'Party-Game', 'Jeu de société',
     'Autres', 'Gestion', 'Création', 'Compilation', 'Aventure', "Point'n Click", 'Stratégie', 'Infiltration', 'Survival-Horror', 'Simulation', "Beat'em All", 'Puzzle-Game', 
     'MMO', 'Tir', 'Gestion God Game']], hue = 'game_en')

In [ ]:
#clf=svm.SVC(gamma=0.001,C=100)
X= df1
y = ['website_rating', 'classification', 'PS4', 'PS2', '360', 'ONE', 'PSP', 'NGC', 'Xbox', 'GBA', 'PC', 'DS', 'Wii', 'PS3', 'WiiU', 'PS1', 'Switch', 'iOS', 'N64',
     'DCAST', 'Mac', 'GB', '3DS', 'RPG', 'Action', 'Plate-Forme', 'Sport', "Shoot'em Up", 'FPS', 'Jeu de cartes', 'Course', 'Réflexion', 'Party-Game', 'Jeu de société',
     'Autres', 'Gestion', 'Création', 'Compilation', 'Aventure', "Point'n Click", 'Stratégie', 'Infiltration', 'Survival-Horror', 'Simulation', "Beat'em All", 'Puzzle-Game', 
     'MMO', 'Tir', 'Gestion God Game']

clf = svm.SVC(kernel='linear', C = 1.0)
clf.fit(X,y)

# **Testes para Codar**

In [ ]:
print(type(df1.iloc[0][0]))
print(df1['platform'][0])

In [ ]:
##teste individual

#lista={'PS4': 0, 'PS2': 1, '360': 2, 'ONE': 3, 'PSP': 4, 'NGC': 5, 'Xbox': 6, 'GBA': 7, 'PC': 8, 'DS': 9, 'Wii': 10, 'PS3': 11, 'WiiU': 12, 'PS1': 13, 'Switch': 14, 'iOS': 15, 'N64': 16, 'DCAST': 17, 'Mac': 18, 'GB': 19, '3DS': 20, 'Web': 21, 'Android': 22, 'Vita': 23, 'SNES': 24, 'Nes': 25, 'MD': 26, 'Unknown': 27, 'Amiga': 28, 'ST': 29, 'MS': 30, 'G.GEAR': 31, 'NGAGE': 32, 'Saturn': 33}
lista=['PS4', 'PS2', '360', 'ONE', 'PSP', 'NGC', 'Xbox', 'GBA', 'PC', 'DS', 'Wii', 'PS3', 'WiiU', 'PS1', 'Switch', 'iOS', 'N64', 'DCAST', 'Mac', 'GB', '3DS', 'Web', 'Android', 'Vita', 'SNES', 'Nes', 'MD', 'Unknown', 'Amiga', 'ST', 'MS', 'G.GEAR', 'NGAGE', 'Saturn']

df1= list(df)
dff=['PS4', 'PS2', '360', 'ONE', 'PSP', 'NGC', 'Xbox', 'GBA', 'PC', 'DS', 'Wii', 'PS3', 'WiiU', 'PS1', 'Switch', 'iOS', 'N64', 'DCAST', 'Mac', 'GB', '3DS', 'Web', 'Android', 'Vita', 'SNES', 'Nes', 'MD', 'Unknown', 'Amiga', 'ST', 'MS', 'G.GEAR', 'NGAGE', 'Saturn']

for item in df2['platform']:   
    if ' ' in item:  
      item=item.split(' ')#separando por caractere de espaço

      for index in item:  
        if index not in resp:
          resp.append(index)
          
      
    else:
      if item not in resp:
       resp.append(item)
  
  df2 = lista[item]

#print(df2)

In [ ]:
import pandas as pd
data = [
    ['Ali',
     'Azmat',
     '30'],
    ['Sharukh',
     'Khan',
     '40'],
    ['Linus',
     'Torvalds',
     '70']
]
df = pd.DataFrame(data,columns=['First','Last','Age']) 
df.insert(3,"city",['Lahore','Dehli','New York'],True)
print(df)

In [ ]:
ints = [8, 23, 45, 12, 78]
for idx, val in enumerate(ints):
    print(idx, val)

In [ ]:
x = [1, 5, 1.5, 8, 1, 9]
y = [2, 8, 1.8, 8, 0.6, 11]
plt.scatter(x,y)
plt.show()

In [ ]:
X = np.array([[1,2],[5,8],[1.5,1.8],[8,8],[1,0.6],[9,11]])
y = [0,1,0,1,0,1] #meus labels, usaremos 0 e 1
clf = svm.SVC(kernel='linear', C = 1.0)
clf.fit(X,y)

print(clf.predict([0.58,0.76]))

print(clf.predict([10.58,10.76]))

In [ ]:
w = clf.coef_[0]
print(w)
a = -w[0] / w[1]
xx = np.linspace(0,12)
yy = a * xx - clf.intercept_[0] / w[1]
h0 = plt.plot(xx, yy, 'k-',
 label="non weighted div")
plt.scatter(X[:, 0], X[:, 1], c = y)
plt.legend()
plt.show()

In [ ]:
from sklearn import datasets
import pandas as pd
import seaborn as sns

iris = datasets.load_iris()
iris_df = pd.DataFrame(data=iris.data, columns=iris.feature_names)
iris_df['label'] = iris.target
iris_df['species'] = pd.Categorical.from_codes(iris.target, iris.target_names)


print(iris.target_names)